footer {
    background-color: #fff;
    text-align: center;
    }
    
    footer .container-fluid {
        padding: 7% 15% 7%;
    }

    footer p {
        font-family: 'Open Sans';
        font-weight: 500;
        color: gray;
        }
    footer .social-icon {
        margin: 40px 10px;
        font-size: 2em;
      }